.profilebackground{

  position: absolute;
  background-color: silver;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
  
}

.userProfileContainer {
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-height: 500px;
  background-color: lightcyan;
  margin: 70px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  background-image: none; 
}



.containerp{
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.userstreaks{
  color: red;
  margin-left: 15px;
}

.containerdd{
  display: flex;
  flex-grow: 1;
}
.details{
  margin-left: -20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color:black;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;

}

.img-cont{
  flex-basis: 50%;
}


.user{
  
  background-color: rgb(75 131 75);
}


.userProfileHeader {
  color:white;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  
}

.userProfileImage {
  margin-top: 5px;
  height: 330px;
  width: 250px;
  margin-left: 5px;
}
/* 
.userProfileDetails {
  color: #555;
  margin: 5px 0;
}

.loadingText {
  text-align: center;
  color: #888;
  font-size: 18px;
} */

@media (max-width: 768px) {
  .userProfileContainer {
    max-width: 100%;
  }
}
